@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

:root {
  font-size: 16px;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: #fcf3cf;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: 0.15rem;
}

.review::after,
.review::before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 0;
  height: 0;
}

.review::after {
  top: 100%;
  left: 0;
  border-left: black solid 6rem;
  border-bottom: transparent solid 3rem;
}
.review::before {
  top: 100%;
  right: 0;
  border-left: transparent solid 6rem;
  border-top: black solid 3rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    @apply min-h-screen relative z-10 px-20;
  }
  .nav_menu {
    @apply cursor-pointer px-4 rounded-xl text-2xl font-medium relative;
  }
  .input {
    @apply bg-transparent w-full max-w-lg h-12 border-b-2 border-b-current placeholder:text-text_primary placeholder:opacity-80;
  }
}
