@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

:root {
  font-size: 16px;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: #fcf3cf;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: 0.15rem;
}

ul,
li {
  list-style: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
